<table style="width:100%">
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Code Language</th>
    <th>Upvotes</th>
    <th>Downvotes</th>
  </tr>
  <% @code_posts.each do |code_post| %>
  <tr>
    <td>
      <%= link_to code_post.title, show_code_path(code_post) %>
      <%= link_to "(delete)", delete_code_path(code_post) if is_owner?(code_post) %>
    </td>
    <td><%= code_post.category %></td>
    <td><%= code_post.code_language %></td>
    <td><%= code_post.upvotes.count %></td>
    <td><%= code_post.downvotes.count %></td>
  </tr>
  <% end %>
</table>
