<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <%= render 'layouts/alerts' %>
  <section class="content-header">
    <h1>Publish Code</h1>
    <ol class="breadcrumb">
      <li><a href="<%= root_path %>">
        <%= fa_icon "clone", text: "Home" %>
        </a>
      </li>
      <li><a href="<%= code_path %>">Database</a></li>
      <li class="active">(NEW)</li>
    </ol>
  </section>

<%= render 'form' %>

</div>
<!-- /.content-wrapper -->

<%= render 'editorscripts' %>
