<h1><%= @code_post.title %></h1>
<h2>Category: <%= @code_post.category %></h2>
<h2>Language: <%= @code_post.code_language %></h2>
<h3>Code: <%= @code_post.code %></h3>

<div class="pull-right">
  Upvotes: <%= @code_post.repup %>
  Downvotes: <%= @code_post.repdown %>
</div>

<% if !current_user.nil? && is_owner? %>
<div class="pull-left">
  <%= link_to "Edit", edit_code_path(@code_post) %>
</div>
<% end %>
