<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <%= render 'layouts/alerts' %>
  <section class="content-header">
    <h1><%= @code_post.title %><% if !current_user.nil? && (is_owner?(@code_post) || current_user.is_admin?) %>
          <%= link_to edit_code_path(@code_post) do %>
            <%= fa_icon "pencil" %>
          <% end %>
        <% end %></h1>
    <ol class="breadcrumb">
      <li><a href="<%= root_path %>">
        <%= fa_icon "clone", text: "Home" %>
        </a>
      </li>
      <li><a href="<%= code_path %>">Database</a></li>
      <li class="active"><%= @code_post.id %> (VIEW)</li>
    </ol>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-md-8">
        <div class="box box-default">
          <div id="editor"><%= @code_post.code %></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box box-default">
          <div class="box-header">
            <h3 class="box-title"><%= fa_icon "question-circle-o", text: " Other information" %></h3>
            <%= render 'layouts/collapsers' %>
          </div>
          <div class="box-body">
            <div class="table-responsive">
              <div id="reputation-ajax">
                <%= render 'info_table' %>
              </div>
            </div>
          </div>
          <% unless current_user.nil? %>
          <div class="box-footer" style="padding-left: 17px;padding-right: 17px;">
            <%= render 'votes' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>


<script>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/eclipse");
  editor.getSession().setMode("ace/mode/<%= @code_post.get_language_mode_code %>");
  editor.setShowPrintMargin(false);
  editor.setReadOnly(true);
</script>
