<!DOCTYPE html>
<html>
<head>
  <title>Grepfull</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>

<% unless is_devise_controller? %>
<body class="fixed hold-transition skin-black sidebar-mini">
<div class="wrapper">
  <%= render 'layouts/header' %>
  <%= render 'layouts/sidebar' %>
  <%= render 'layouts/alerts' %>
  <%= render 'layouts/content' %>
  <%= render 'layouts/footer' %>
</div>
</body>
<% else %>
  <%= render 'layouts/alerts' %>
  <%= render 'layouts/content' %>
<% end %>

</html>
