<!DOCTYPE html>
<html>
<head>
  <title>Grepfull</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <!-- Alerts -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= render 'layouts/navbar/nav' %>
  <%= render 'layouts/content/application_layout_content' %>

</body>

  <%= render 'layouts/navbar/footer' %>
</html>
